<!DOCTYPE html>
<html lang="en">
    <head>
        <title>App Name</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
	<body>

    <nav class="navbar navbar-expand-sm   navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <!--- Home -->
            <li class="nav-item">
              <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <!--- Account update page -->
            <li class="nav-item">
              <a class="nav-link" href="/account">Account</a>
            </li>
            
            <!--- Dropdowns -->
            <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Chat Rooms
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="/chat">Spastic Times</a>
              <a class="dropdown-item" href="/chat2">Jasi Swim Club</a>
            </div>
          </li>
          
          <!--- Contact us -->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          
          <!--- Sign up-->
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
		      </li>
          
          <!--- About us -->
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>

          <!--- Login -->
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

           <!-- <li class="nav-item dropdown dmenu">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu sm-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 4</a>
              <a class="dropdown-item" href="#">Link 5</a>
              <a class="dropdown-item" href="#">Link 6</a>
            </div>
          </li> -->
          </ul>
          <div class="social-part">
            <i class="fa fa-facebook" a href="www.facebook.com" aria-hidden="true"></i>
            <i class="fa fa-twitter" a href="www.twitter.com" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </nav>

