<%- include('partials/header'); %> 

<!--- Start of Jumbotron -->
<div class="jumbotron">
  <h1 class="display-4">Hello, world</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>
  <p>It uses utility classes for typography and spacing to space content out wothing the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
</div>
<!--- End of Jumbotron -->

<!--- Start of Log in form -->
<h2>Login</h2>
<form action="/login" method="post">
	<input type="email" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<button type="submit">Login</button>
</form>
<!--- End of Log in form -->


<!--- Start of register form -->
<h2>Register</h2>
<form action="/register" method="post">
	<input type="email" name="email" placeholder="Email">
	<input type="phone" name="phone" placeholder="Phone">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="passwordConfirm" placeholder="Confirm Password">
	<button type="submit">Register</button>
</form>
<!--- End of Register form -->

<%- include('partials/footer'); %>