<%- include('partials/header'); %>

<div id="logreg-forms" class="registration">
  <% if (locals.errors && locals.errors.register) { %>
      <% locals.errors.register.forEach(function(error) { %>
          <p class="alert alert-primary" role="alert"><%= error %></p>
      <% }) %>
  <% } %>
	<form class="form-signin" method="POST" action="/register">
		<h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Register</h1>
		<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" autofocus="" required>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
		<input type="password" id="inputPasswordConfirm" name="passwordConfirm" class="form-control" placeholder="Confirm your password" required>
		
		<button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Register</button>
		<hr>
	</form>
	<form method="GET" action="/">
		<!-- <p>Don't have an account!</p>  -->
		<button class="btn btn-primary btn-block" type="submit" id="btn-signup"><i class="fas fa-user-plus"></i> Sign in instead</button>
	</form>
</div>

<%- include('partials/footer'); %>